*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(24, 24, 24);
}

header{
    display: flex;
    padding: 25px;
    background-color: rgb(30, 30, 30);
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

header > h1{
    padding-top: 3px;
    font-size: 35px;
    color: white;
}

.btn{
    padding: 15px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300px;
}

.btn:hover{
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300px;
    transition: 0.2s;
}

.container{
    display: grid;
    text-align: center; 
    padding: 28px; 
    height: 70vh;
    width: 95%;
    align-items: center;
    justify-content: start;
    grid-template: 250px 350px 250px 350px / 350px 350px 350px 350px;
}
